@using static Common.StaticClase.StaticValue;

@model IEnumerable<ApplicationUsers>
@{
    ViewData["Title"] = "لیست کاربران";
    ViewData["selected"] = "Users";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    int counter = 1;

    UserSearchTypeModel USER = new UserSearchTypeModel();
    USER.ID = ViewBag.searchTypeselected;
    List<UserSearchTypeModel> UserListSearchTypeModel = USER.GetUserTypeModel();
}

<style>
    tr:hover td {
        background-color: #dce4dc;
    }
</style>

<div class="content">
    <form asp-controller="User" asp-action="SearchUser">

        <div class="panel panel-heading panelstyle">

            <span style="font-weight:bold;">
                <i class="icon-list"></i>
                لیست کاربران
            </span>
        </div>


        <div class="panel col-md-12 searchStyle">

            <span style="margin-bottom:5px;">جستجو بر اساس :</span>
            <select asp-for="@USER.ID" style="border:1px solid gray; margin-bottom:5px;border-radius: 4px;height:40px;" id="searchTypeSelected" name="searchTypeSelected"
                    asp-items="@(new SelectList(UserListSearchTypeModel,"ID","Title"))">
            </select>

            <input type="text" id="textSearch" name="textSearch" value="@ViewBag.textSearch"
                   style="border:1px solid gray; width:300px;border-radius: 4px; height:40px; margin-bottom:5px; text-align:center; font-weight:bold;" />

            <button type="submit" style="border-radius: 4px;  height: 40px;border: 1px solid;">
                جستجو
                <i class="icon-search4"></i>
            </button>

        </div>
    </form>


    <div style="margin-bottom:5px;">
        <a class="btn customPurple1" asp-controller="User" asp-action="Create">
            <i class="glyphicon glyphicon-plus"></i>
            افزودن کاربر
        </a>
    </div>

    @if (!Model.Any())
    {
        <div class="alert alert-danger text-center" role="alert">
            <span style="font-weight:bold">عبارت مورد نظر پیدا نشد!</span>
        </div>
    }
    else
    {
        <div>
            <div class="table-responsive"
                 style=" overflow:auto; border:1px solid gray; border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
                <table class="table table-bordered" style="background-color:white;">
                    <thead>
                        <tr style="font-size:14px; font-weight:bold; background-color:#becbbe;">
                            <td>ردیف</td>
                            <td>نام</td>
                            <td>نام خانوادگی</td>
                            <td>نام کاربری</td>
                            <td>شماره تماس</td>
                            <td>جنسیت</td>
                            <td>وضعیت</td>
                            <td style="width:250px;text-align:center;">عملیات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="font-size:12px;">
                                <td style="width:60px; text-align:center;">@counter</td>
                                <td style="text-align:right;">@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.UserName</td>
                                <td>@item.PhoneNumber</td>
                                @if (item.gender == 1)
                                {
                                    <td>مرد</td>
                                }
                                else
                                {
                                    <td>زن</td>
                                }

                                @if (item.IsActive == true)
                                {
                                    <td style="width:35px; color:black">
                                        <span class="badge badge-success" style="width:50px;border-radius:15px">
                                            فعال
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td style="width:35px; color:black">
                                        <span class="badge badge-danger" style="width:50px;border-radius:15px">
                                            غیر فعال
                                        </span>
                                    </td>
                                }
                                <td class="text-center">
                                    <div class="row">

                                        <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;"
                                           class="btn customBlue1" asp-action="Edit" asp-route-userId="@item.Id" data-toggle="tooltip" data-placement="top" title="ویرایش">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>

                                        @if (item.IsActive == true)
                                        {
                                            <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" asp-controller="User" asp-action="ActiveOrDeactiveUser" asp-route-userId="@item.Id"
                                   asp-route-IsActive="@item.IsActive" data-toggle="modal" data-target="#modal-action" class="btn customRed1" >
                                                <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="غیرفعالسازی "></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" asp-controller="User" asp-action="ActiveOrDeactiveUser" asp-route-userId="@item.Id"
                                   asp-route-IsActive="@item.IsActive" data-toggle="modal" data-target="#modal-action" class="btn customGreen1" >
                                                <i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="فعالسازی"></i>
                                            </a>
                                        }

                                        <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" asp-action="UserDetails" asp-route-userId="@item.Id"
                                           class="btn customYellow1" data-toggle="tooltip" data-placement="top" title="اطلاعات کاربر">
                                            <i class="glyphicon glyphicon-book"></i>
                                        </a>

                                        <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" asp-controller="Role" asp-action="AccessRight" asp-route-id="@item.Id" class="btn customGreen2"
                                           data-toggle="tooltip" data-placement="top" title="سطح دسترسی">
                                            <i class="icon-accessibility"></i>
                                        </a>

                                        <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" asp-controller="User" asp-action="ChangePasswordByAdmin" asp-route-userId="@item.Id"
                                   asp-route-FullName="@item.FirstName @item.LastName" data-toggle="modal" data-target="#modal-action" class="btn customgrey1" >
                                            <i class="icon-key" data-toggle="tooltip" data-placement="top" title="تغییررمزعبور"></i>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                            counter++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }

</div>

@* Paging *@
@Html.Partial("Paginations/_userPaging")


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Medium })

@section AdminScripts{
    <script src="~/admin/assets/js/modal/modal.js"></script>

    @*برای تایتل دکمه ها*@
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

