@model dynamic


<div id="daste-bandi">
    <!--شروع دسته بندی-->

    <span class="header-lastnews">آخرین مطالب</span>

    <div class="hr"></div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">

            <li role="presentation" class="active ul-title-color"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">آخرین اخبار</a></li>
            <li role="presentation"><a href="#in" aria-controls="in" role="tab" data-toggle="tab" class="ul-title-color">داخلی</a></li>
            <li role="presentation"><a href="#out" aria-controls="out" role="tab" data-toggle="tab" class="ul-title-color">خارجی</a></li>
            <li role="presentation"><a href="#private" aria-controls="private" role="tab" data-toggle="tab">اختصاصی</a></li>


        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="home">

                <ul class="list-daste">
                    @foreach (var item in Model.LastNews)
                    {
                        <li>
                            <span class="badge">@ConvertDateTime.ConvertMiladiToShamsi(item.NewsTime,"HH:mm")</span>

                            @if (item.PlaceNewsId == 4)
                            {
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            }
                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-Id="@item.NewsId">@item.Title</a>

                        </li>
                    }

                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="in">
                <ul class="list-daste">
                    @foreach (var item in Model.InternalNews)
                    {
                        <li>
                            <span class="badge">@ConvertDateTime.ConvertMiladiToShamsi(item.NewsTime,"HH:mm")</span>

                            @if (item.PlaceNewsId == 4)
                            {
                                <i class="fa fa-video-camera" aria-hidden="true">

                                </i>
                            }
                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-Id="@item.NewsId">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="out">
                <ul class="list-daste">

                    @foreach (var item in Model.ForeignNews)
                    {
                        <li>
                            <span class="badge">@ConvertDateTime.ConvertMiladiToShamsi(item.NewsTime,"HH:mm")</span>
                            @if (item.PlaceNewsId == 4)
                            {
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            }
                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-Id="@item.NewsId">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="private">
                <ul class="list-daste">

                    @foreach (var item in Model.privateNews)
                    {
                        <li>
                            <span class="badge">@ConvertDateTime.ConvertMiladiToShamsi(item.NewsTime,"HH:mm")</span>
                            @if (item.PlaceNewsId == 4)
                            {
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            }
                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-Id="@item.NewsId">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>