@model IEnumerable<News>


<style>
    .list-content-body figure {
        float: right;
        margin-left: 10px
    }

    #news-page-list { /*end*/
        border-radius: 2px;
        padding-top: 2px;
        border: 1px solid rgb(200,200,200);
        box-shadow: inset 0px 20px 20px 0px #e3e3e3;
        background-color: white;
        padding-right: 5px;
        padding-left: 3px;
        margin: 5px;
    }
</style>
@if (Model != null)
{
    <div class="col-md-12 col-xs-12">
        @foreach (var item in Model)
        {
            <div id="news-page-list" class="col-md-3 col-sx-12 widget widget-bordered title-a widget-page">
                <div class=" ">
                    <section class="list-content-body ">
                        <div class="small" style="position:relative; top:3px;">
                            <span>
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>
                                    @ConvertDateTime.ConvertMiladiToShamsi(item.NewsDate,"yyyy/MM/dd")
                                </span>
                            </span>
                            <span>
                                <i class="glyphicon glyphicon-time"></i>
                                <span>
                                    @ConvertDateTime.ConvertMiladiToShamsi(item.NewsTime,"HH:mm")
                                </span>
                            </span>

                        </div>
                        <br />
@*                        <div style="text-align: center;">
                            <img alt="@item.Title" style="max-width:100%;" src="~/upload/indexImage/@item.IndexImage" >
                            <span class="glyphicon glyphicon-play-circle"></span>
                            <h3 style="font-size:14px; font-weight:600;color: green;">
                                @item.Title

                            </h3>
                        </div>
*@
                        <div class="set-posi">
                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-Id="@item.NewsId">
                                <div class="glyphcenter-transition">
                                    <img style="width:174px; height:100px;" src="~/upload/indexImage/@item.IndexImage" class="img-responsive" />
                                    <span class="glyphicon glyphicon-play-circle"></span>
                                </div>
                                <div class="videoThumbnail_caption col-lg-12">
                                    @item.Title
                                </div>
                            </a>
                        </div>

                    </section>


                </div>

            </div>

        }

    </div>


    @if (ViewBag.PageCount > 1)
    {
        <div class="row text-center">

            <nav>
                <ul class="pagination">

                    @if ((int)ViewBag.PageID > 1)
                    {
                        @* Previous *@
                        <li>

                            <a asp-controller="Home" asp-action="ShowAllVideo" asp-route-Page="@((int)ViewBag.PageID) - 1">
                                <span>&laquo;</span>
                            </a>
                        </li>
                    }

                    @for (int i = 1; i <= (ViewBag.PageCount); i++)
                    {
                        <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                            <a asp-controller="Home" asp-action="ShowAllVideo" asp-route-page="@i">
                                @i
                                <span class="sr-only"></span>
                            </a>
                        </li>
                    }


                    @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                    {
                        @* Next *@
                        <li>
                            <a asp-controller="Home" asp-action="ShowAllVideo" asp-route-Page="@((int)ViewBag.PageID) + 1">
                                <span>&raquo;</span>
                            </a>
                        </li>

                    }
                </ul>
            </nav>
        </div>

    }


}
else

{
    <div class="col-md-12 alert alert-danger" style="margin-bottom: 110px; margin-top: 100px;text-align: center;">

        <span class=" " style="font-size:18px;">جستجو نتيجه اي نداشت!!!</span>

    </div>
}