@model IEnumerable<Advertising>
@{
    ViewData["Title"] = "لیست تبلیغات";
    ViewData["selected"] = "Advertising";

    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    int counter = 1;
}



<style>
    tr:hover td {
        background-color: #dce4dc;
    }
</style>

<div class="content">

    <form>
        <div class="panel panel-heading panelstyle">

            <span style="font-weight:bold;">
                <i class="icon-list"></i>
                لیست تبلیغات
            </span>
        </div>

        <div class="panel col-md-12 searchStyle">

            <span style="margin-bottom:5px;">جستجوی محتوا :</span>

            <input type="text" id="mySearch" style="border: 1px solid gray;width: 300px; height: 40px;margin-bottom: 5px;text-align: center;font-weight: bold;border-radius: 4px;" placeholder="جستجو..." />

        </div>
    </form>

    <div style="margin-bottom:5px;">
        <a class="btn customPurple1" asp-controller="Advertising" asp-action="Create">
            <i class="glyphicon glyphicon-plus"></i>
            افزودن تبلیغ
        </a>
    </div>

    @if (!Model.Any())
    {
        <div class="alert alert-danger text-center" role="alert">
            <span style="font-weight:bold">عبارت مورد نظر پیدا نشد!</span>
        </div>
    }
    else
    {
        <div>
            <div class="table-responsive"
                 style=" overflow:auto; border:1px solid gray; border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
                <table class="table table-bordered" style="background-color:white;">
                    <thead>
                        <tr style="font-size:14px; font-weight:bold; background-color:#becbbe;">
                            <td class="text-center">ردیف</td>
                            <td class="text-center">از تاریخ</td>
                            <td class="text-center">تا تاریخ</td>
                            <td class="text-center">تصویر</td>
                            <td class="text-center">محل تبلیغ</td>
                            <td class="text-center">لینک تبلیغ</td>
                            <td class="text-center">وضعیت</td>
                            <td style="width:160px;text-align:center;">عملیات</td>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {
                            <tr style="font-size:12px;">
                                <td style="width:60px; text-align:center;">@counter</td>
                                <td>@ConvertDateTime.ConvertMiladiToShamsi(item.FromDate,"yyyy/MM/dd")</td>
                                <td>@ConvertDateTime.ConvertMiladiToShamsi(item.ToDate,"yyyy/MM/dd")</td>
                                <td>
                                    <img src="~/upload/advImage/@item.GifPath" style="width:50px; height:60px;" />
                                </td>
                                @{
                                    List<AdvertisePlace> PlaceSections;
                                    var PlaceSection = new AdvertisePlace();
                                    PlaceSections = PlaceSection.AdvertiseDescription().Where(r => r.AdvId == item.AdverLocation).ToList();
                                   
                                    <td>@PlaceSections[0].AdvLocationName</td>
                                    <td style="text-align:left;">@item.Link</td>

                                }

                                @if (item.Flag == 0)
                                {
                                    <td>
                                        <span class="badge badge-success" style="width:60px;border-radius:15px">
                                            نمایش
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="badge badge-danger" style="width:60px;border-radius:15px">
                                            عدم نمایش
                                        </span>
                                    </td>
                                }
                                
                                <td>
                                    <div class="row">

                                        <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" class="btn customBlue1"
                                            asp-action="Edit" asp-route-Id="@item.AdverId" title="ویرایش" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>  
                                        @if (item.Flag==0)
                                        {
                                            <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;"
                                               class="btn customYellow1" asp-action="ChangeStatus" asp-route-id="@item.AdverId"
                                               data-toggle="modal" data-target="#modal-action" >
                                                <i class="glyphicon glyphicon-remove" title="عدم نمایش" data-toggle="tooltip" data-placement="top"></i>
                                            </a>
                                        }else
                                        {
                                            <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;"
                                               class="btn customYellow1" asp-action="ChangeStatus" asp-route-id="@item.AdverId"
                                               data-toggle="modal" data-target="#modal-action" >
                                                <i class="glyphicon glyphicon-ok" title=" نمایش" data-toggle="tooltip" data-placement="top"></i>
                                            </a>
                                        }
                                     

                                        <a style="height:30px; width:40px; font-size:9px; margin-bottom:3px;" asp-action="Delete" asp-route-Id="@item.AdverId"
                                           data-toggle="modal" data-target="#modal-action" class="btn customRed1" >
                                            <i class="glyphicon glyphicon-trash" title="حذف" data-toggle="tooltip" data-placement="top"></i>
                                        </a>

                                    </div>

                                </td>
                            </tr>
                            counter++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }

</div>

@* Paging *@
@Html.Partial("Paginations/_adverPaging")


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Medium })

@section AdminScripts{
    <script src="~/admin/assets/js/modal/modal.js"></script>

    <script>
        $(document).ready(function () {
            $("#mySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


    @*برای تایتل دکمه ها*@
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

